body {
    margin: 0px;
    padding: 0px;
}


header {
    background-color: #1f2937;
    color: #e5e7eb;
}

.hero {
    background-color: #1f2937;
    padding: 0px 25px;
}

a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.heroMain {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 700;
}

.heroSecondary {
    color: #e5e7eb;
    font-size: 18px;
}

.heroButton {
    color: #e5e7eb;
    background-color: #3882f6;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    padding: 2px 25px;
}