body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}


header {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.hero {
    background-color: #1f2937;
    padding: 0px 25px;
}

.headerLogo {
    font-size: 24px;
    color: #f9faf8;
}

a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.heroMain {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 700;
}

.heroSecondary {
    color: #e5e7eb;
    font-size: 18px;
}

.heroButton {
    color: #e5e7eb;
    background-color: #3882f6;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    padding: 2px 25px;
}

.sectOne {
    /* border: solid 2px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 0px;
    margin: 0px 100px;
}

.sectOneOne {
    height: 300px;
}

img {
    height: 250px;
    width: auto;
    border-radius: 20px;
    box-shadow: #1f2937 3px 4px 5px;
}

.sectOneTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    padding-top: 20px;
}

.information {}

.informationHeader {
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;
    text-align: center;
    text-transform: capitalize;
}

.underImg {
    text-align: center;
}

.informationSub {
    display: flex;
    justify-content: space-evenly;
    padding: 0px 20px;
    text-transform: capitalize;
}

.infoQuote {
    padding: 20px 200px;
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
}

figcaption {
    text-indent: 170px;
}