body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    padding: 0px 10px;
    transition: all ease-in-out .2s;
}

a:hover {
    text-shadow: white 0px 0px 10px;
}