body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}